html, body {
    margin: 0;
    padding: 0;
    background-color: #b8b8b8;
    height: 1200px; /** temporary for footer **/
}

nav {background-color: #7fffd4;}

#hero {background-color: #898989; color: #ffffff;}

#container {background-color: #898989;}

#twocolumns {height:550px;}

#left {background-color: #ff0000; color:white;}

#right {background-color: #0000ff; color: white;}

footer {
    background-color: #f8a1f1;
    height: 100px;
    position: fixed;
    bottom: 0;
}